<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073867288992-93u8pb8ejvr7grbkfio357m1dijhpmq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073867288992-93u8pb8ejvr7grbkfio357m1dijhpmq9</string>
	<key>API_KEY</key>
	<string>AIzaSyCsDWDWDjFiC2QdrYWgr8gY1fNxycF8n7A</string>
	<key>GCM_SENDER_ID</key>
	<string>1073867288992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TakeMeOut.takeMeOutApp</string>
	<key>PROJECT_ID</key>
	<string>take-me-out-125e0</string>
	<key>STORAGE_BUCKET</key>
	<string>take-me-out-125e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073867288992:ios:cf0c0c139f9db9ef2cb4c5</string>
</dict>
</plist>